# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# vite cache
node_modules/.vite
